<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <title>陈浩</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css" />
    <script type='text/javascript' src='/js/jquery-1.11.1.min.js'></script>
    <script type='text/javascript' src='/js/jquery.particleground.min.js'></script>
    <script type='text/javascript' src='/js/demo.js'></script>
</head>

<body>

<div id="particles">
    <div class="intro">
        <h1>基于 TCP 协议的即时通信聊天系统的设计与实现 </h1>
        <p>陇东学院 | 2016 通信工程本科班 | 陈浩</p>
        <a th:href="@{/pagelogin}" class="mybtn">登录</a>
    </div>
</div>
</body>
</html>